<div id="wrapper1">
	<section id="promotext" class="container">
			<header class="title">
				<h2>Are you sure?</h2>
				<span class="byline">Click below to logout</span> 
			</header>
	</section>
	<div id="editprofilecontainer" class="container clearfix">

		<h3><%= link_to("Log Out",post_logout_path,{method: :post,class: "button"}) %></h3>

		<br><br>
		<p> Clicking Log Out will clear our cookies and log you out of Rechargery on this device.</p>

	
	</div>
</div>
