<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*">

        <title>Rechargery - Recharge Successful.</title>

    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #e2e4e4;width: 100%;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #e2e4e4;height: 100%;width: 100%;">
                <tr>
                    <td align="center" valign="top" style="border-collapse: collapse;">
                        <!-- // Begin Template Preheader \ -->

                        <!-- // End Template Preheader \ -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 0px solid #333333;background-color: #8DCB89;">
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #333333;border-bottom: 0px solid;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">

                                                <!-- // Begin Module: Standard Header Image \ -->
                                                <a href="http://www.rechargery.com/" style="color: #336699;font-weight: normal;text-decoration: underline;">
                                                <img src="https://gallery.mailchimp.com/ab6dde358b9934f53239b056a/images/emailcover.png" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext>
                                                </a>
                                                <!-- // End Module: Standard Header Image \ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                            <td colspan="3" valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #8DCB89;">

                                                <!-- // Begin Module: Standard Content \ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div mc:edit="std_content00" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
                                                            <br>
                                                                <h2 class="h2" style="color: #FFFFFF;display: block;font-family: Arial;font-size: 30px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">You've got your free recharge</h2>
                                                                <br><br>
                                                                <strong>Hi, <%= @user.name %>.</strong>
                                                                <br>Here are your recharge details.
                                                                <br><br>
                                                                 Phone Number: <strong><%= @user.phone %></strong><br>
                                                                 Amount : <strong><%= @order.amount %></strong><br>

                                                                <br><br>If you haven't received your recharge yet, write to us at hello@rechargery.com and we'll sort it out.<br><br>
                                                                <strong>It'd be great if you could help us out by liking/sharing/tweeting!</strong> We've placed the social links at the bottom of this email.<br>




                                                                <br><br>
                                                                If you have any problems in using our site or placing orders, do write to us at hello@rechargery.com
                                                                <br>
                                                                <br>
                                                                Regards,<br>
                                                                <strong>Rechargery</strong>
                                                                <br>
                                                                <br>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \ -->

                                            </td>
                                        </tr>

                                    </table>
                                    <!-- // End Template Body \ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \ -->
                                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #333333;border-top: 0;">
                                        <tr>
                                            <td valign="top" class="footerContent" style="border-collapse: collapse;">

                                                <!-- // Begin Module: Standard Footer \ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #333333;border: 0;">
                                                            <div mc:edit="std_social" style="color: #FFFFFF;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                &nbsp;<a href="http://www.twitter.com/rechargery" style="color: #FFFFFF;font-weight: bold;text-decoration: underline;">Follow us on Twitter</a> | <a href="http://www.facebook.com/rechargery" style="color: #FFFFFF;font-weight: bold;text-decoration: underline;">Like us on Facebook</a> | <a href="mailto:hello@rechargery.com" style="color: #FFFFFF;font-weight: bold;text-decoration: underline;">Write to us</a>&nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="350" style="border-collapse: collapse;">
                                                            <div mc:edit="std_footer" style="color: #FFFFFF;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                                                                <em>Copyright &copy; 2013 Rechargery, All rights reserved.</em>
                                                                <br>

                                                                <br>
                                                                <strong>Rechargery</strong>
                                                                <br>
                                                                Shop Online, get free recharges
                                                            </div>
                                                        </td>
                                                        <td valign="top" width="190" id="monkeyRewards" style="border-collapse: collapse;">
                                                            <div mc:edit="monkeyrewards" style="color: #FFFFFF;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">

                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" valign="middle" id="utility" style="border-collapse: collapse;background-color: #333333;border: 0;">
                                                            <div mc:edit="std_utility" style="color: #FFFFFF;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                <!--&nbsp;<a href="*|UNSUB|*">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;-->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Footer \ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>