---
http_interactions:
- request:
    method: get
    uri: https://affiliate-api.flipkart.net/affiliate/report/orders/detail/json?endDate=2015-03-24&offset=0&startDate=2015-02-24&status=pending
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Fk-Affiliate-Id:
      - flipkart-affiliate-id
      Fk-Affiliate-Token:
      - flipkart-affiliate-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"orderList":[{"price":949.0,"category":"Pen Drives","title":"Sandisk
        Ultra USB 3.0 32 GB Utility Pendrive","productId":"ACCDSYDFMHUKZX9H","quantity":1,"sales":{"amount":949.0,"currency":"INR"},"status":"tentative","affiliateOrderItemId":"18065900","orderDate":"24-02-2015","commissionRate":1.0,"tentativeCommission":{"amount":9.49,"currency":"INR"},"affExtParam1":"3575","affExtParam2":"","salesChannel":"WEBSITE","customerType":"EXISTING"},{"price":678.0,"category":"Pen
        Drives","title":"Sandisk Cruzer Blade 32 GB","productId":"ACCD9XW3YU6VYCYS","quantity":1,"sales":{"amount":678.0,"currency":"INR"},"status":"tentative","affiliateOrderItemId":"18080476","orderDate":"24-02-2015","commissionRate":1.0,"tentativeCommission":{"amount":6.78,"currency":"INR"},"affExtParam1":"3576","affExtParam2":"","salesChannel":"MOBILE_SITE","customerType":"EXISTING"},{"price":161.0,"category":"Mobile
        Accessories","title":"Mo[...]
