$greybackground: #3E3F3A;
$textblack: #2a2b24;
$textdarkbrown:#736448;
$textlightbrown:#b4a995;
$lightgrey:#7B7C78;
$cream: #F8F5F0;
$lightbrown:#ece6da;
$lightgreen: #A6C776;
$darkgreen: #83A552;
$darkergreen:#6a8d37;
$whiteglow: rgba(255,255,255,0.5);
$white: rgb(255,255,255);
$blue:#3686be;
$lightblue:#c3e1f1;
$darkblue:#2b74a7;
$red:#de6339;