<div id="social">
	<span><a target="_blank" href="http://www.twitter.com/rechargery"><i class="icon-twitter"></i></a></span>
	<span><a target="_blank" href="http://www.facebook.com/rechargery"><i class="icon-facebook"></i></a></span>
	<span><a target="_blank" href="mailto:hello@rechargery.com"><i class="icon-envelope"></i></a></span>
</div>
<div id="copyright">
	<p>Copyright (c) 2013 <a href="">Rechargery.com</a>. All rights reserved. | Shop Online, get free recharges. | Crafted at <a href="http://www.iitrpr.ac.in">IIT Ropar</a></p>
</div>
