- content_for :rightpane do
  = render partial: "pages/docsrightpane"
- content_for :leftpane do
  %h2 Privacy Policy
  %div.date Effective from January 1st, 2014
  %p.intro This privacy policy is between Rechargery (“Rechargery.com”, “We” or “Us”) and the user ("You","Yourself", or "User"). By signing up on our website, you agree that you accept our terms or service and privacy policy and that you are bound by them.
  %div.content
    %h4 Membership & Registration 

    %p Membership on Rechargery.com is free and available on submitting a few details such as email, phone etc. By signing up on our website, you agree that you accept these Terms of service and that you are bound by them. Also, to be a member of Rechargery.com, the following conditions must be met.
    %ul
      %li You must be above 16 yrs of age.
      %li All details provided during the registration process should be accurate and up-to date. If any of the details change, it is the user's responsibility to keep them updated.          

    %h4 Our Service
    %p We provide registered users talktime when they shop online through Rechargery. To avail this service, users are required to first create an account. Recharges/Talktime will be given out only if the Retailer confirms that the sale is tracked.

    %h4 Sales and Transactions
    %p A sale is termed as a Qualify Sale only if it was placed through Rechargery.com. There are various circumstances under which a sale may be deemed as non-qualifying by either us or the retailer. The user must understand that all Sales & Transactions are processed by the individual retailers. Rechargery is not responsible for the services and goods provided by the retailers. 

    %h4 Talktime
    %p Talktime is awarded only to Qualifying sales. The talktime value received by the user may be lower or higher than the value advertised on the site.

    %h4 Contact
    %p You can reach us by email at <strong>hello@rechargery.com</strong>
