$green1: #23A96E;
//$green1: #62C8BF; // OctoGreen
$blue1:#296C9F;

$purple:#A080B7;

$loadinggrey:#4b4b4d;
$loadingdarkgrey:#262627;

$grey1:#3E4649;
$grey2:#2E2F31;

$lightblue:#74c0da;
$darkblue:#383b4c;
$facebookblue:#415e9b;
$twitterblue:#00abed;
$graphblue:#2380e4;
//$gogreen:#bad55e; // original
//$gogreen:#a6c776; // Old Rechargery
$gogreen:#8DCC4E;
//$graphgreen:#63d895; // Kiddish
$graphgreen:#8DCC4E;
//$gogreen:#74E079;
$gored:#dd6264;
$mediumblue:#7abbdb;
// ORIGINAL BLUE BACKGROUND - 5793d3
// PROPER BLUE BACKGROUND - 339fdf
$bluebackground:#339fdf;