%section.account-sidebar
    %ul.sidebar-menu
        %a{href: edit_profile_url}
            %li.menu-item.active.clearfix
                %div.menu-icon
                    %img{:src => image_url("accounts-icon.png")}
                %div.menu-text Account Details
        %a{href: changepassword_url}
            %li.menu-item.clearfix
                %div.menu-icon
                    %img{:src => image_url("accounts-icon.png")}
                %div.menu-text Change Password
