%section.wrapper.footer-wrapper
	%section.container.footer-container.clearfix
		%ul.footerlinks
			%a{:href => stores_path}
				%li Stores
			%a{:href => howitworks_url}
				%li How it works
			/ %a{:href => "#"}
			/ 	%li FAQ
			%a{:href => testimonials_url}
				%li Testimonials
			%a{:href => "mailto:hello@rechargery.com"}
				%li Contact
		%ul.sociallinks
			%a{:href => "http://www.facebook.com/rechargery"}
				%li
					%img{:src => image_url("fbshadow.png"),:width => 30,:height =>30}
			%a{:href => "http://www.twitter.com/rechargery"}
				%li
					%img{:src => image_url("twittershadow.png"),:width => 30,:height =>30}
		%div.footerbottom
			%a{:href => "/"} Rechargery.com
			|
			%a{:href => docs_tos_url} Terms of Service
			|
			%a{:href => docs_privacy_url} Privacy Policy




/ <section class="wrapper footer-wrapper">
/ <section class="container footer-container clearfix">
/ <ul class="footerlinks">
/ <a href="#"><li>Stores</li></a>
/ <a href="#"><li>How it works</li></a>
/ <a href="#"><li>FAQ</li></a>
/ <a href="#"><li>Testimonials</li></a>
/ <a href="#"><li>Contact</li></a>
/ </ul>
/ <ul class="sociallinks">
/ <a href="#"><li><img width=30 height=30 src="images/fbshadow.png"></li></a>
/ <a href="#"><li><img width=30 height=30 src="images/twittershadow.png"></li></a>
/ </ul>
/ <div class="footerbottom">
/ <a href="#">Rechargery.com</a> | <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
/ </div>
/ </section>
/ </section>